body{
    width: 100%;
    height: 100%;

    background: #F8EFEF;
}
.head header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.head header {
    height: 100px;
    background: #EAE0E0;
    color: #000000;
    width: 100%;
}


.head header{
    display: flex;
    flex-direction: row;
    gap: 30px;
}


.headlinks nav{
    display: flex;
    flex-direction: row;
    text-indent: 54px;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: #000000;
}
a:hover {
    text-decoration: underline;
}

.mainComponent{
    display: flex;
    gap: 20px;
    justify-content:flex-end;
    flex-direction: column;
}

.about_us_intro{
    position: absolute;
    width: 45%;
    font-size: large;
    top: 20%;
    left: 10%;
}

.about_us_goal{
    position: absolute;
    width: 45%;
    font-size: large;
    top: 45%;
    right: 10%;

}

.about_us_impact{
    position: absolute;
    width: 45%;
    font-size: large;
    top: 70%;
    right: 40%;
}