body{
    position: relative;
    width: 100%;
    height: 100%;

    background: #F8EFEF;
}

.head header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

}

.head header {
    height: 100px;
    background: #EAE0E0;
    color: #000000;
    width: 100%;
    text-decoration: none;
}


.head header{
    display: flex;
    flex-direction: row;
    gap: 30px;
    text-decoration: none;

}


.headlinks nav{
    display: flex;
    flex-direction: row;
    text-indent: 54px;
    font-weight: bold;

}

a{
    text-decoration: none;
    color: #000000;
}
a:hover {
    text-decoration: underline;
}

ul{
    font-size: large;
    list-style-type: none;
    text-align: center;
}

li a {
    color: black;
}

/**************************************/

.container {
  display: inline-block;
  cursor: pointer;
  position: fixed;
  top: 135px;
  right: 3%;
  transform: translate(-50%, -50%);
    border: 2px solid transparent;
  transition: border 0.5s ease-in-out;
}
.container:hover {
  border: 5px solid #EAE0E0;
}

.bar1{
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.bar2{
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.bar3{
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1{
  /*transform: translateY(6px) rotate(90deg);*/
    animation: bar1 0.4s ease-in-out forwards;
    transform: translateY(22px);
    animation-fill-mode: forwards;
}

.change .bar3{
  /*transform: translateY(-6px) rotate(-45deg);*/
    animation: bar3 0.4s ease-in-out forwards;
    transform: translateY(-22px);
    animation-fill-mode: forwards;
}
/*******************************/
.custom-btn-acpt-cncl {
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.btn-acpt-cncl {
  text-decoration: none;
  background: rgb(6,14,131);
  /*background: #eca2e5;*/
  color: black;
  background: #EAE0E0;
  border: none;
}

.btn-acpt-cncl:hover {
  text-decoration: none;
  background: rgb(0,3,255);
  color: white;
  background: #6b0763;
}

.poll-question{
    position: relative;
    left: 18%;
    width: 900px;
    height: 100px;
    margin-bottom: 15px;
    background: white;
    border-radius: 20px;
}

.poll-question p{
    position: relative;
    top: 5%;
    text-align: center;
    font-size: large;
    font-weight: bolder;
}

.to-full-poll{
    position: relative;
    left: 70%;
    top: -25%;
}

.to-full-poll button{
    width: 200px;
    font-weight: bolder;
}

.pol-choice{
    position: relative;
    top: -8%;
    left: 1%;
    font-weight: bold;
}

.date p{
    position: absolute;
    top: -9%;
    right: 1%;
    font-weight: normal;
}