<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About us</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main_page/style_about.css'%}">
    <link rel="shortcut icon" type="image/png" href="{% static 'main_page/img/favicon.ico' %}">
</head>
<body>
    <div class="mainComponent">
        <div class="head">
            <header>
                <h1>About us</h1>
                <div class="headlinks">
                    <nav>
                        <p><a href="/">Home</a></p>
                        <p><a href="/polls">Polls</a></p>
                        <p><a href="/API">API</a></p>
                    </nav>
                </div>
            </header>
        </div>

        <div class="about_us_intro">
          <p>
            Welcome to our website! We are a team of passionate individuals who believe in the power of technology to make people's lives better. Our goal is to create innovative solutions that address real-world problems and improve the quality of life for everyone. Whether you are a business owner, a student, or a busy parent, we have something for you.
          </p>
        </div>
        <div class="about_us_goal">
          <p>
            Our team consists of experts in various fields, including software development, design, marketing, and project management. We work closely with our clients to understand their unique needs and develop customized solutions that exceed their expectations. With years of experience and a commitment to excellence, we have helped numerous businesses and individuals achieve their goals.
          </p>
        </div>
        <div class="about_us_impact">
          <p>
            At our core, we are driven by a desire to make a positive impact on the world. We believe that technology can be a force for good, and we strive to use our skills and knowledge to create meaningful change. We are constantly learning and growing, and we are dedicated to staying at the forefront of our industry. Thank you for considering us for your next project - we look forward to working with you!
              Also, our project is an open source project. You can find source code <a href="https://github.com/werent4/Polls_web_site" class="git">here</a> or read <a href="https://github.com/werent4/Polls_web_site/blob/main/documentation/general_documentation.pdf" class="git">documentation</a>
          </p>
        </div>

    </div>
</body>
</html>