body{
    position: relative;
    width: 100%;
    height: 100%;

    background: #F8EFEF;
}

.head header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

}

.head header {
    height: 100px;
    background: #EAE0E0;
    color: #000000;
    width: 100%;
    text-decoration: none;
}


.head header{
    display: flex;
    flex-direction: row;
    gap: 30px;
    text-decoration: none;

}


.headlinks nav{
    display: flex;
    flex-direction: row;
    text-indent: 54px;
    font-weight: bold;

}

a{
    text-decoration: none;
    color: #000000;
}
a:hover {
    text-decoration: underline;
}

li a {
    color: black;
}