.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box h4{
    font-size: xx-large;
}

/*___________________________*/
.custom-btn-acpt-cncl {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;

}
.btn-acpt-cncl{
  background: rgb(6,14,131);
  /*background: #eca2e5;*/
    color: black;
    background: #EAE0E0;
  border: none;
}
.btn-acpt-cncl:hover {
   background: rgb(0,3,255);
    color: white;
   background: #6b0763;
}
/***************************/
